#post-body-content.page-builder-visible {
    margin-bottom: 0;
}

.fw-disable-editor {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    opacity: 0;
    left: -10000px;
    display: none;
}

.page-builder-hide-button {
    margin: 20px 0 5px !important;
}
