/* Thumbs */
.fw-option-type-builder.fw-option-type-page-builder .builder-item-type {
	display: block;
}
.fw-option-type-page-builder .builder-item-type .inner {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	padding-top: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.fw-option-type-page-builder .builder-item-type .inner.no-image {
	padding: 0;
}
.fw-option-type-page-builder .builder-item-type img {
	display: inline-block;
	opacity: 0.66;
}
.fw-option-type-page-builder .builder-item-type:hover img {
	opacity: 1;
}
.fw-option-type-page-builder .builder-item-type p {
	position: absolute;
	left: 3px;
	right: 3px;
	bottom: 5px;
	height: 30px;
	line-height: 30px;
	margin: 0;
}
.fw-option-type-page-builder .builder-item-type .inner.no-image p {
	position: static;
	margin: 0 3px;
	line-height: 70px;
}
.fw-option-type-page-builder .builder-item-type p span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	font-size: 10px;
	color: #666;
}
.fw-option-type-page-builder .builder-item-type:hover p span {
	color: #484848;
}

.fw-option-type-page-builder .fw-visibility-off {
	opacity: 0.6;
}

/* Controls */
.fw-option-type-page-builder .controls i.fw-responsive-button {
	display: none;
	opacity: 0;
}

.fw-option-type-page-builder .fw-responsive-controls .controls i {
	display: none;
}

.fw-option-type-page-builder .fw-responsive-controls .controls i.fw-responsive-button {
	display: block;
	opacity: 1;
}

.fw-option-type-page-builder .fw-responsive-controls .panel {
	position: relative;
}

.fw-option-type-page-builder .fw-responsive-controls .panel-right {
	position: absolute;
	left: 0;
	width: auto;
	min-width: 100%;
}

.fw-option-type-page-builder .fw-responsive-controls .controls {
	padding-right: 7px;
}

.fw-option-type-page-builder .fw-responsive-controls.fw-display-controls > .pb-item  > .controls,
.fw-option-type-page-builder .fw-responsive-controls.fw-display-controls > .pb-item  > .panel .controls {
	width: 100%;
	text-align: right;
	box-sizing: border-box;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.fw-option-type-page-builder .fw-responsive-controls.fw-display-controls > .pb-item  > .controls i,
.fw-option-type-page-builder .fw-responsive-controls.fw-display-controls > .pb-item  > .panel .controls i {
	display: block;
}

.fw-option-type-page-builder .fw-responsive-controls .pb-item-type-simple .controls {
	background-color: #fff !important;
	top: 16px;
	right: 0;
}

.fw-option-type-page-builder .fw-responsive-controls .pb-item-type-column > .panel .controls {
	background-color: #F8F8F8;
}

.fw-option-type-page-builder .fw-responsive-controls .pb-item-type-column.custom-section > .panel .controls {
	background-color: #F8FDFF;
}

.fw-option-type-page-builder .fw-responsive-controls .pb-item-type-column.custom-section > .panel .controls:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 17px;
	background: #F8FDFF;
	left: 0;
	bottom: -16px;
}