/* Thumb */
.fw-option-type-page-builder .builder-item-type[data-builder-item-type="simple"] img {
	width: 16px;
	height: 16px;
}

/* Box */
.pb-item-type-simple {
	background-color: #fff;
	border: 1px solid #ededed;
	padding: 15px;
	font-size: 13px;
	color: #8c8c8c;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	position: relative;
}
.pb-item-type-simple.has-options {
	cursor: pointer;
}
.builder-item.ui-sortable-helper > .pb-item-type-simple {
	cursor: move;
}
.pb-item-type-column > .builder-items .pb-item-type-simple {
	border: none;
}

/* Icon */
.pb-item-type-simple > img {
	width: 16px;
	height: 16px;
	margin-right: 9px;
	vertical-align: text-bottom;
}
body.rtl .pb-item-type-simple > img {
	margin-left: 9px;
	margin-right: 0;
}

/* Controls */
.fw-responsive-button {
	display: none !important;
}

.fw-responsive-controls .fw-responsive-button {
	display: flex !important;
}

